<div class="footer-div">
    <footer>
        <hr>
        <p>
            <strong>CST336: </strong>Internet Programming. 2026© Carlos Solian | Paul Traissac<br>
            <strong>Disclaimer: </strong> The information in this webpage is fictious.<br>
            It is used for academic purposes.<br>
        </p>

        <img id="csumb-logo" src="https://csumb.space/cst/336/img/csumb_logo.png" alt="CSUMB Logo">
    </footer>
</div>